name: Deploy Frontend to EC2

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create firebase-config.ts from Secret
        run: |
          cat << 'EOF' > src/firebase-config.ts
          ${{ secrets.FIREBASE_CONFIG_CONTENT }}
          EOF

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/privora-gui:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~
            # Télécharge la dernière image
            docker pull ${{ secrets.DOCKER_USERNAME }}/privora-gui:latest
            
            # Utilisation de la V2 (sans tiret) pour éviter les bugs de métadonnées
            docker compose up -d --force-recreate frontend
            
            # Nettoie les anciennes images pour gagner de l'espace
            docker image prune -f
